:root {
    --surface-1: var(--USER-surface-1, #151515);
    --surface-2: var(--USER-surface-2, #282828);
    --surface-3: var(--USER-surface-3, #303030);
    --surface-4: var(--USER-surface-4, #535353);
    --surface-inv: var(--USER-surface-inv, #bababa);

    --text: var(--USER-text, #eeeeee);
    --text-inv: var(--USER-text-inv, #151515);
    --text-hl: var(--USER-text-hl, #c29354);
    --text-grayed: var(--USER-text-grayed, #bbbbbb);

    --radical: var(--USER-radical, #56638a);
    --kanji: var(--USER-kanji, #9c4644);
    --vocab: var(--USER-vocab, #58896f);

    --apprentice: var(--USER-apprentice, #47454e);
    --guru: var(--USER-guru, #605c74);
    --master: var(--USER-master, #9a815d);
    --enlightened: var(--USER-enlightened, #934c3f);
    --burned: var(--USER-burned, #303030);

    --lesson: var(--USER-lesson, #9c4644);
    --review: var(--USER-review, #56638a);
    --correct: var(--USER-correct, #58896f);
    --incorrect: var(--USER-incorrect, #9c4644);

    --brand: var(--USER-brand, #9c4644);
    --progress: var(--USER-progress, #a97e42);
    --alert: var(--USER-alert, #9c4644);

    --logo-filter: var(
        --USER-logo-filter,
        invert(1) saturate(0) brightness(1.6)
    );
    --kotoba-odd-row-filter: var(
        --USER-kotoba-odd-row-filter,
        brightness(0.95)
    );
    --footer-filter: var(--USER-footer-filter, invert(1));
    --loading-filter: var(
        --USER-loading-filter,
        grayscale(100%) invert(1) hue-rotate(180deg) contrast(0.68)
    );
    --days-studied-filter: var(--USER-days-studied-filter, invert(0.85));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;

    background-color: var(--surface-1);
    color: var(--text);
    font-family: "Noto Sans";
}

header {
    height: 4em;
    width: 100%;
    background-color: var(--surface-2);
    border-bottom: 1px solid var(--surface-4);
}

#logo {
    margin: 0;
    color: transparent;
}

#logo::after {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    margin-top: -34px;
    height: 34px;
    width: 100%;
    filter: var(--logo-filter);
    background: top left/contain no-repeat
        url("https://www.wanikani.com/assets/logo--retro-colors-9b88dd59.png");
}

.width-restrain {
    max-width: 1170px;
    margin: 0 24px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 24px !important;
}

.gap {
    gap: 24px;
}

.row {
    flex-wrap: wrap;
}

.row > div {
    height: 255px;
    flex: 1 1 374px;
    border-radius: 16px;
    background-color: var(--surface-2);
    border: 1px solid var(--surface-4);

    padding: 24px;
    min-width: 370px;
}

#stable,
#nightly {
    background-color: var(--lesson);
    border-color: color-mix(in srgb, var(--lesson), white 25%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#stable > img,
#nightly > img {
    max-width: 150px;
    flex: 1 1;
}

#nightly {
    background-color: var(--review);
    border-color: color-mix(in srgb, var(--review), white 25%);
}

.side {
    width: 50%;
    height: 100%;

    gap: 16px;
}

.side h2 {
    margin: 0.2em 0;
}

.flex-column-start {
    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: center;
}

.button {
    border-radius: 4px;
    padding: 12px 16px;
    border: 1px solid var(--text);
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
}

.button:hover {
    outline: 1px solid var(--text);
}

.subtext-adjust {
    margin: -0.5em 0 0.5em 0;
}

.temp {
    display: flex;
    align-items: center;
    justify-content: center;
}
