// pages/collections.scss

@use "../base/variables" as *;

.page-header__title {
  text-shadow: none;
}

.page-header__title-subtext {
  color: $text-grayed;
}

.subject-legend {
  color: $text;
  background-color: $surface-3;
  text-shadow: none;
  border-radius: 5px;

  .subject-legend__title {
    color: $text;
  }

  .subject-legend__item-badge--recently-unlocked {
    box-shadow: 0 0 1px #{$text};
    color: $text;
    background-color: $progress;
  }

  .subject-legend__item-badge--all {
    box-shadow: 0 0 1px #{$text};
    color: $text;
    background-color: $brand;
  }

  .subject-legend__item-badge--radicals {
    box-shadow: 0 0 1px #{$text};
    color: $text;
    background-color: $radical;
  }

  .subject-legend__item-badge--kanji {
    box-shadow: 0 0 1px #{$text};
    color: $text;
    background-color: $kanji;
  }

  .subject-legend__item-badge--vocabulary {
    box-shadow: 0 0 1px #{$text};
    color: $text;
    background-color: $vocab;
  }

  .subject-legend__item-badge--locked {
    background-image: none;
    filter: $locked-item-filter;
  }

  .subject-legend__item-badge--burned {
    box-shadow: 0 0 1px #{$text};
    color: $text;
    background-color: $burned;
  }
}

.character-grid__header {
  border-radius: 5px 5px 0 0;
}

.subject-character--grid.subject-character--burned {
  box-shadow: none;
}

.subject-character--grid.subject-character--locked {
  background-image: none;
  filter: brightness(0.7);
}

.subject-character-grid__items .subject-character-grid__item:nth-child(odd) {
  filter: $kotoba-odd-row-filter;
}

.site-content-container .container:has(.character-grid) {
  background-color: $surface-2;
  border-radius: 5px;
  padding: 0 1.5em;

  > :first-child,
  > .page-header {
    padding-top: 1.5em;
  }

  > :last-child {
    padding-bottom: 1.5em;
  }

  .subject-character-grid--single-column li:last-child a {
    border-radius: 0 0 5px 5px;
  }
}
