// pages/collections.scss

@use "../base/variables" as *;

.page-header {
  padding: 1.5em 0;
  margin: 0;
}

.page-header__title {
  text-shadow: none;
}

.page-header__title-subtext {
  color: $text-grayed;
}

.subject-legend-character--locked.subject-legend-character--radical {
  --color-blue: #{$radical};
  color: $text;
  border: none;
}

.subject-legend-character--locked.subject-legend-character--kanji {
  --color-pink: #{$kanji};
  color: $text;
  border: none;
}

.subject-legend-character--locked.subject-legend-character--vocabulary {
  --color-purple: #{$vocab};
  color: $text;
  border: none;
}

.subject-character--recent.subject-character--radical
  .subject-character__characters-text,
.subject-legend-character--lesson.subject-legend-character--radical {
  color: $text;
  background: color-mix(in srgb, #{$radical}, transparent 75%);
  border-color: color-mix(in srgb, #{$radical}, white 25%);
}

.subject-character--recent.subject-character--kanji
  .subject-character__characters-text,
.subject-legend-character--lesson.subject-legend-character--kanji {
  color: $text;
  background: color-mix(in srgb, #{$kanji}, transparent 75%);
  border-color: color-mix(in srgb, #{$kanji}, white 25%);
}

.subject-character--recent.subject-character--vocabulary
  .subject-character__characters-text,
.subject-legend-character--lesson.subject-legend-character--vocabulary {
  color: $text;
  background: color-mix(in srgb, #{$vocab}, transparent 75%);
  border-color: color-mix(in srgb, #{$vocab}, white 25%);
}

.subject-legend-character--burned {
  color: $text;
  background: $burned;
  border-color: color-mix(in srgb, #{$burned}, white 25%);
}

.site-content-container .container:has(.character-grid) {
  background-color: $surface-2;
  border: 1px solid #{$surface-4};
  border-radius: 8px;
  padding: 0 1.5em 0.5em 1.5em;
  margin-top: 1.5em;

  .search--open {
    transform: translateY(-6em);
    margin-bottom: calc(-5em - 8px);

    .search__button {
      transform: translateY(4px);
    }
  }

  &:has(.search--open) {
    transform: translateY(calc(4em + 4px));
  }

  .character-grid__header {
    .character-grid__header-content {
      border-radius: var(--border-radius-tight) var(--border-radius-tight) 0 0;
      border: 1px solid #{$surface-4};
      border-bottom: none;
    }

    .progress-chart__progress-bar-container {
      box-shadow: none;
    }
  }
}

.subject-legend-character--burned.subject-legend-character--radical {
  background: $burned;
  border-color: $radical;
}

.subject-legend-character--burned.subject-legend-character--kanji {
  background: $burned;
  border-color: $kanji;
}
.subject-legend-character--burned.subject-legend-character--vocabulary {
  background: $burned;
  border-color: $vocab;
}

.subject-character--burned:not(.subject-character--locked) {
  .subject-character__characters-text {
    --color-text: #{$text};
    color: $text;
    background: $burned;
    border-color: var(--EDI-burned-carryover);
  }

  &.subject-character--radical {
    --EDI-burned-carryover: #{$radical};
  }

  &.subject-character--kanji {
    --EDI-burned-carryover: #{$kanji};
  }

  &.subject-character--vocabulary {
    --EDI-burned-carryover: #{$vocab};
  }
}
