// pages/dashboard.scss

@use "../base/variables" as *;

.todays-lessons-widget--complete {
  --color-widget-background: #{$surface-2};
  --color-count-bubble-background: #{$text};
  --color-count-bubble-text: #{$text-inv};
}

.reviews-widget,
.todays-lessons-widget {
  --color-count-bubble-border: $text;
}

.todays-lessons-widget.theme--neon:not(.todays-lessons-widget--complete) {
  --color-placeholder-pulse-stop-1: color-mix(in srgb, #{$lesson}, black 10%);
  --color-placeholder-pulse-stop-2: color-mix(in srgb, #{$lesson}, white 10%);
  --color-count-bubble-background: #{$text};
  --color-count-bubble-border: #{$text};
  --color-count-bubble-text: #{$lesson};
  --color-button-secondary-background: #{$lesson};
  --color-button-edge: #{$text};
  --color-button-hover-edge: #{$text};
  --color-button-active-edge: #{$text};
  --color-button-border: #{$text};
  --color-button-hover-border: #{$text};
  --color-button-active-border: #{$text};
  --color-widget-background: #{$lesson};
  --color-widget-border: #{$lesson};
  --color-widget-primary-text: #{$text};
  --color-widget-secondary-text: #{$text};
  --color-button-secondary-hover-icon: #{$lesson};

  .wk-button--secondary .wk-button__edge {
    background-color: transparent;
  }

  .wk-button--secondary:hover .wk-button__content,
  .wk-button--secondary:active .wk-button__content,
  .wk-button--secondary:hover .wk-button__content {
    transform: translateY(-4px);
    background-color: $lesson;
    border-color: $text;
    outline: 1px solid $text;
    color: $text;
  }
}

.reviews-widget.theme--neon:not(.reviews-widget--complete) {
  --color-placeholder-pulse-stop-1: color-mix(in srgb, #{$review}, black 10%);
  --color-placeholder-pulse-stop-2: color-mix(in srgb, #{$review}, white 10%);
  --color-count-bubble-background: #{$text};
  --color-count-bubble-border: #{$text};
  --color-count-bubble-text: #{$review};
  --color-button-secondary-background: #{$review};
  --color-button-edge: #{$text};
  --color-button-hover-edge: #{$text};
  --color-button-active-edge: #{$text};
  --color-button-border: #{$text};
  --color-button-hover-border: #{$text};
  --color-button-active-border: #{$text};
  --color-widget-background: #{$review};
  --color-widget-border: #{$review};
  --color-widget-primary-text: #{$text};
  --color-widget-secondary-text: #{$text};
  --color-button-secondary-hover-icon: #{$review};

  .wk-button--secondary .wk-button__edge {
    background-color: transparent;
  }

  .wk-button--secondary:hover .wk-button__content,
  .wk-button--secondary:active .wk-button__content,
  .wk-button--secondary:hover .wk-button__content {
    transform: translateY(-4px);
    background-color: $review;
    border-color: $text;
    outline: 1px solid $text;
    color: $text;
  }
}

.review-forecast-widget__day[href] .review-forecast-widget__increase-bar {
  color: $surface-inv;
}

.extra-study-multi-button-widget__button:hover {
  outline: 1px solid $text;
}

.extra-study-multi-button-widget__button--disabled:hover {
  outline: none;
}

.subject-character--vocabulary .subject-character__characters-text,
.subject-legend-character--vocabulary {
  background: $vocab;
  border-color: $vocab;
  color: $text;
}

.subject-character--kanji .subject-character__characters-text,
.subject-legend-character--kanji {
  background: $kanji;
  border-color: $kanji;
  color: $text;
}

.subject-character--radical .subject-character__characters-text,
.subject-legend-character--radical {
  background: $radical;
  border-color: $radical;
  color: $text;
}

.level-progress-widget__item-type-stat:hover {
  outline: 1px solid $surface-4;
}

.level-progress-widget__item-type-stat-indicator {
  height: 2px;
}

.level-progress-widget__item-type-stat-indicator-bar--vocabulary {
  background: $vocab;
}

.level-progress-widget__item-type-stat-indicator-bar--kanji {
  background: $kanji;
}

.level-progress-widget__item-type-stat-indicator-bar--radical {
  background: $radical;
}

.item-spread-table-row__count--vocabulary {
  border-color: $vocab;
  background-color: $vocab;
}

.item-spread-table-row__count--kanji {
  border-color: $kanji;
  background-color: $kanji;
}

.item-spread-table-row__count--radical {
  border-color: $radical;
  background-color: $radical;
}

.item-spread-table-row__total {
  border-color: $text;
  background-color: $text;
  color: $text-inv;
}

.subject-character--locked.subject-character--vocabulary
  .subject-character__characters-text,
.subject-character--locked.subject-character--kanji
  .subject-character__characters-text,
.subject-character--locked.subject-character--radical
  .subject-character__characters-text {
  background-image: none;
  filter: $locked-item-filter;
}

.footer--illustrated {
  filter: $footer-filter;
}

img[src*="level_up_image.svg"] {
  content: url("https://raw.githubusercontent.com/Everesh/WaniKani-ElementaryDark/refs/heads/main/img/level_up_image.svg") !important;
}
