// pages/dashboard.scss

@use "../base/variables" as *;

.dashboard__lessons-and-reviews {
  .todays-lessons {
    --color-icon: #{$lesson};

    .wk-button--modal-primary:hover {
      --color-icon: #{$text};
      background-color: $lesson;
      color: $text;
    }

    .wk-button--modal-secondary {
      --color-icon: #{$text};
    }

    .wk-button--modal-secondary:hover {
      --color-icon: #{$lesson};
      background-color: $text;
      color: $lesson;
    }
  }

  .reviews-dashboard {
    --color-icon: #{$review};
    .wk-button--modal-primary:hover {
      --color-icon: #{$text};
      background-color: $review;
      color: $text;
    }
  }
}

.extra-study__image {
  filter: $extra-study-filter;
}

.srs-progress__subject-type-count {
  color: $text;
}

.subject-character--small .subject-character__characters {
  box-shadow: none;
  color: $text;
}

.dashboard-lists li:last-child a {
  border-radius: 0 0 0.3em 0.3em;
}

.dashboard-lists li:first-child a {
  border-radius: 0.3em 0.3em 0 0;
}

.dashboard-lists li:only-child a {
  border-radius: 0.3em 0.3em 0.3em 0.3em;
}

.dashboard-lists li:nth-child(odd) a {
  filter: $kotoba-odd-row-filter;
}

.subject-character--grid:after {
  border: none;
}

.footer--illustrated {
  filter: $footer-filter;
}
