// pages/dashboard.scss

@use "../base/variables" as *;

// Lessons

.todays-lessons-widget--complete {
  --color-count-bubble-background: #{$text};
  --color-count-bubble-text: #{$text-inv};
  --color-widget-background: #{$surface-2};
}

.todays-lessons-widget.theme--neon:not(.todays-lessons-widget--complete) {
  --color-placeholder-pulse-stop-1: color-mix(in srgb, #{$lesson}, black 10%);
  --color-placeholder-pulse-stop-2: color-mix(in srgb, #{$lesson}, white 10%);
  --color-count-bubble-background: #{$text};
  --color-count-bubble-border: #{$text};
  --color-count-bubble-text: #{$lesson};
  --color-button-edge: transparent;
  --color-button-hover-edge: transparent;
  --color-button-active-edge: transparent;
  --color-button-border: #{$text};
  --color-button-hover-border: #{$text};
  --color-button-active-border: #{$text};
  --color-widget-background: #{$lesson};
  --color-widget-border: color-mix(in srgb, #{$lesson}, white 25%);
  --color-widget-primary-text: #{$text};
  --color-widget-secondary-text: #{$text};
  --color-button-secondary-active-background: #{$lesson};
}

// Reviews

.reviews-widget--complete {
  --color-count-bubble-background: #{$text};
  --color-count-bubble-text: #{$text-inv};
  --color-widget-background: #{$surface-2};
}

.reviews-widget.theme--neon:not(.reviews-widget--complete.theme--neon) {
  --color-placeholder-pulse-stop-1: color-mix(in srgb, #{$review}, black 10%);
  --color-placeholder-pulse-stop-2: color-mix(in srgb, #{$review}, white 10%);
  --color-count-bubble-background: #{$text};
  --color-count-bubble-border: #{$text};
  --color-count-bubble-text: #{$review};
  --color-button-edge: transparent;
  --color-button-hover-edge: transparent;
  --color-button-active-edge: transparent;
  --color-button-border: #{$text};
  --color-button-hover-border: #{$text};
  --color-button-active-border: #{$text};
  --color-widget-background: #{$review};
  --color-widget-border: color-mix(in srgb, #{$review}, white 25%);
  --color-widget-primary-text: #{$text};
  --color-widget-secondary-text: #{$text};
  --color-button-secondary-active-background: #{$review};
}

// Extra study

.extra-study-multi-button-widget__button:hover,
.extra-study-multi-button-widget__button:focus {
  outline: 1px solid $text;
}

.extra-study-multi-button-widget__button:active {
  outline: 1px solid $text;
}

.extra-study-multi-button-widget__button--disabled,
.extra-study-multi-button-widget__button--disabled:hover,
.extra-study-multi-button-widget__button--disabled:focus {
  outline: none;
  border-color: $surface-3;
}

// Level progress - trunked atributes

.subject-legend-character--review,
.subject-character--passed .subject-character__characters-text,
.subject-character--unlocked .subject-character__characters-text {
  color: $text;
}

.subject-legend-character--radical,
.level-progress-widget__item-type-stat-indicator-bar--radical,
.subject-character--radical .subject-character__characters-text {
  background: $radical;
}

.subject-legend-character--radical,
.subject-character--radical .subject-character__characters-text {
  border-color: color-mix(in srgb, #{$radical}, white 25%);
}

.subject-legend-character--kanji,
.level-progress-widget__item-type-stat-indicator-bar--kanji,
.subject-character--kanji .subject-character__characters-text {
  background: $kanji;
}

.subject-legend-character--kanji,
.subject-character--kanji .subject-character__characters-text {
  border-color: color-mix(in srgb, #{$kanji}, white 25%);
}

.subject-legend-character--vocabulary,
.level-progress-widget__item-type-stat-indicator-bar--vocabulary,
.subject-character--vocabulary .subject-character__characters-text {
  background: $vocab;
}

.subject-legend-character--vocabulary,
.subject-character--vocabulary .subject-character__characters-text {
  border-color: color-mix(in srgb, #{$vocab}, white 25%);
}

.subject-character--locked.subject-character--radical
  .subject-character__characters-text,
.subject-character--locked.subject-character--kanji
  .subject-character__characters-text,
.subject-character--locked.subject-character--vocabulary
  .subject-character__characters-text {
  background-image: none;
  color: $text-grayed;
  filter: $locked-item-filter;
}

// Iteam Spread

.item-spread-table-row__count--radical {
  background: #{$radical};
  border-color: color-mix(in srgb, #{$radical}, white 25%);
  --color-item-spread-loading-count-background: #{$radical};
  --color-item-spread-loading-count-border: #{$radical};
}

.item-spread-table-row__count--kanji {
  background: #{$kanji};
  border-color: color-mix(in srgb, #{$kanji}, white 25%);
  --color-item-spread-loading-count-background: #{$kanji};
  --color-item-spread-loading-count-border: #{$kanji};
}

.item-spread-table-row__count--vocabulary {
  background: #{$vocab};
  border-color: color-mix(in srgb, #{$vocab}, white 25%);
  --color-item-spread-loading-count-background: #{$vocab};
  --color-item-spread-loading-count-border: #{$vocab};
}

.item-spread-table-row__total {
  color: #{$text-inv};
  background: #{$surface-inv};
  border-color: color-mix(in srgb, #{$surface-inv}, white 25%);
}

.item-spread-table-row__counts {
  gap: 0;
}

.item-spread-table-row__count.item-spread-table-row__count--radical {
  border-radius: 9999px 0 0 9999px;
}

.item-spread-table-row__count.item-spread-table-row__count--kanji {
  border-radius: 0;
}

.item-spread-table-row__count.item-spread-table-row__count--vocabulary {
  border-radius: 0 9999px 9999px 0;
}

.item-spread-graph-widget__graph-bar-part--radical {
  background-color: $radical;
}

.item-spread-graph-widget__graph-bar-part--kanji {
  background-color: $kanji;
}

.item-spread-graph-widget__graph-bar-part--vocabulary {
  background-color: $vocab;
}

// Recent Mistakes

.extra-study-flash-card-widget__subject--radical {
  --subject-color: #{$radical};
  --subject-blur-color: color-mix(in srgb, #{$radical}, #{$text} 50%);
}

.extra-study-flash-card-widget__subject--kanji {
  --subject-color: #{$kanji};
  --subject-blur-color: color-mix(in srgb, #{$kanji}, #{$text} 50%);
}

.extra-study-flash-card-widget__subject--vocabulary {
  --subject-color: #{$vocab};
  --subject-blur-color: color-mix(in srgb, #{$vocab}, #{$text} 50%);
}

.subject-character--unlocked .subject-character__characters-text {
  --color-text: #{$text};
}

// Days Studied

.days-studied-widget__background:not(.days-studied-widget__background--dark) {
  filter: $days-studied-filter;
}

.days-studied-widget.theme--pastel,
.days-studied-widget.theme--candy,
.days-studied-widget.theme--vintage {
  --color-days-studied-content-border: #{$brand};
  --color-days-studied-digit-filled-background: #{$brand};
}

// Study Streak

.wk-icon.wk-icon--widget_study_streak_complete,
.study-streak-widget__offering {
  --color-icon-primary: #{$surface-4};
  --color-icon-secondary: #{$surface-inv};
}

img[src*="level_up_image.svg"] {
  content: url("https://raw.githubusercontent.com/Everesh/WaniKani-ElementaryDark/refs/heads/main/img/level_up_image.svg") !important;
}
