// pages/item.scss

@use "../base/variables" as *;

.page-header__icon,
.page-header__icon--radical,
.page-header__icon--kanji,
.page-header__icon--vocabulary {
  color: $text;
  background-image: none;
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}

.page-header__title,
.subject-section__title {
  text-shadow: none;
}

.subject-section__title {
  border-color: $text;
}

#section-components {
  .subject-character--burned:not(.subject-character--grid) .subject-character__characters,
  .subject-character--grid.subject-character--burned {
    box-shadow: none;
  }
}

#section-meaning,
#section-reading,
#section-context {
  .subject-section__subtitle,
  .subject-section__text {
    text-shadow: none;
  }

  .subject-section__meanings-title {
    color: $text;
  }

  .subject-section__meanings {
    align-items: center;
  }

  .subject-section__meanings:first-child p.subject-section__meanings-items,
  .subject-section__meanings:nth-child(2) p.subject-section__meanings-items {
    color: $text-hl;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .user-note__link {
    text-shadow: none;
    color: $text-grayed;
  }

  .user-note__fields {
    background-color: $surface-3;
    text-shadow: none;

    .user-note__input {
      background-color: $surface-3;
      text-shadow: none;
      color: $text;
    }

    .user-note__character-count {
      color: $text
    }

    .user-note__button {
      text-shadow: none;
      color: $text;
    }
  }

  .subject-hint {
    --color-icon: #{$text-inv};
    color: $text-inv;
    background-color: $surface-inv;
    text-shadow: none;
    border-radius: 5px;

    .subject-hint__title {
      text-shadow: none;
      color: $text-inv;
    }
  }

  .subject-readings__reading-title {
    text-shadow: none;
  }

  .subject-readings__reading-items {
    text-shadow: none;
    color: $text-hl;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .subject-readings-with-audio {
    text-shadow: none;

    .reading-with-audio__reading {
      color: $text-hl;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .subject-collocations__title,
  .subject-collocations {
    text-shadow: none;
  }

  .subject-collocations__patterns::after {
    box-shadow: 0 0 1px #{$text-grayed};
  }

  .subject-collocations__pattern-name {
    background-color: $text-grayed;
    color: $surface-3;

    &[aria-selected="true"] {
      background-color: $text;
      color: $surface-2;

      &::after {
        background-color: $surface-1;
        background-image: none;
      }
    }
    &[aria-selected="false"] {
      background-color: $text-grayed;
      color: $surface-3;
    }
  }
}

.page-header__icon--level {
  background-color: $surface-2;
}

.page-header__icon--radical {
  background-color: $radical;
}

.page-header__icon--kanji {
  background-color: $kanji;
}

.page-header__icon--vocabulary {
  background-color: $vocab;
}

#section-amalgamations {
  .subject-character--grid.subject-character--locked {
    background-image: none;
    filter: $locked-item-filter;
  }

  .subject-character-grid__item:nth-child(odd) {
    filter: $kotoba-odd-row-filter;
  }

  .subject-character--grid.subject-character--burned {
    box-shadow: none;
  }
}

.subject-character__badge {
  box-shadow: none;
}

.subject-progress {
  text-shadow: none;

  .subject-progress__meta-value {
    color: $text-grayed;
  }

  .subject-progress__button {
    box-shadow: none;
    background-image: none;
    border-color: $surface-3;
    background-color: $surface-3;
    color: $text;

    &:hover {
      background-color: $surface-2;
    }
  }
}
