// pages/item.scss

@use "../base/variables" as *;

.site-content-container .container:has(.subject-page-header) {
  .subject-character--expandable .subject-character__characters:hover::before {
    background: $surface-3;
  }

  .subject-page-header {
    padding: 0;
  }

  .subject-page-header__level-and-pagination {
    margin: 0;
  }

  #section-meaning,
  #section-reading,
  #section-context {
    .subject-section__subtitle,
    .subject-section__text {
      text-shadow: none;
    }

    .subject-section__meanings-title {
      color: $text;
    }

    .subject-section__meanings {
      align-items: center;
    }

    .subject-section__meanings:first-child p.subject-section__meanings-items,
    .subject-section__meanings:nth-child(2) p.subject-section__meanings-items {
      color: $text-hl;
      font-weight: bold;
      font-size: 1.5rem;
    }

    .user-note__link {
      text-shadow: none;
      color: $text-grayed;
    }

    .user-note__fields {
      background-color: $surface-3;
      text-shadow: none;

      .user-note__input {
        background-color: $surface-3;
        text-shadow: none;
        color: $text;
      }

      .user-note__character-count {
        color: $text;
      }

      .user-note__button {
        text-shadow: none;
        color: $text;
      }
    }

    .subject-readings__reading-title {
      text-shadow: none;
    }

    .subject-readings__reading-items {
      text-shadow: none;
      color: $text-hl;
      font-weight: bold;
      font-size: 1.5rem;
    }

    .subject-readings-with-audio {
      text-shadow: none;

      .reading-with-audio__reading {
        color: $text-hl;
        font-weight: bold;
        font-size: 2rem;
      }
    }

    .subject-collocations__title,
    .subject-collocations {
      text-shadow: none;
    }

    .subject-collocations__patterns::after {
      box-shadow: 0 0 1px #{$text-grayed};
    }

    .subject-collocations__pattern-name {
      background-color: $surface-inv;
      color: $surface-2;
      filter: brightness(0.6);

      &[aria-selected="true"] {
        filter: none;

        &::after {
          background-image: none;
          background-color: $surface-2;
          box-shadow: 0 0 1px #{$text};
        }
      }
    }
  }

  .subject-progress {
    text-shadow: none;
  }

  background-color: $surface-2;
  border-radius: 5px;
  padding: 0 1.5em 0.5em 1.5em;
  margin-top: 1.5em;
}
