// pages/review.scss

@use "../base/variables.scss" as *;

.character-header {
  background-image: none;

  .character-header__characters {
    text-shadow: none;
    color: $text;
  }

  .character-header__menu {
    color: $text;
  }
}

.character-header--radical {
  background-color: $radical;
}

.character-header--kanji {
  background-color: $kanji;
}

.character-header--vocabulary {
  background-color: $vocab;
}

.quiz-input__question-type-container {
  &[data-question-type="meaning"] {
    color: $text-inv;
    background: $surface-inv;
    text-shadow: none;
    background-image: none;
    border: none;
  }
  &[data-question-type="reading"] {
    color: $text;
    background: $surface-2;
    text-shadow: none;
    background-image: none;
    border: none;
  }
}

.quiz-progress__bar {
  background-color: $progress;
}

.quiz-input__input {
  text-shadow: none;
  box-shadow: none;
  color: $text;
  &::placeholder {
    color: $text-grayed;
  }
}

.additional-content__item {
  box-shadow: none;
  background-color: $surface-2;
  color: $text;
  border-color: $surface-2;
}

.additional-content__item--open::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $surface-3 rgba(0, 0, 0, 0);
}

.additional-content__content {
  background-color: $surface-2;
  box-shadow: none;
  border-color: $surface-3;

  .subject-info:not([complete])::after,
  .last-items:not([complete])::after,
  .kana-chart:not([complete])::after {
    filter: $loading-filter;
  }

  .subject-character--burned:not(.subject-character--grid)
    .subject-character__characters,
  .subject-character--grid.subject-character--burned,
  .subject-character--small-with-meaning .subject-character__characters {
    box-shadow: none;
  }

  .subject-character--grid.subject-character--burned
    .subject-character__characters,
  .subject-character--grid.subject-character--burned .subject-character__info {
    opacity: 1;
  }

  .subject-hint {
    --color-icon: #{$text-inv};
    color: $text-inv;
    background-color: $surface-inv;
    text-shadow: none;
    border-radius: 5px;

    .subject-hint__title {
      text-shadow: none;
      color: $text-inv;
    }
  }

  .subject-section__meanings {
    align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .subject-section__meanings-title {
    color: $text;
    font-size: 1rem;
  }
  .subject-section__meanings-items,
  .subject-readings {
    color: $text-hl;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .subject-readings__reading-title,
  .subject-readings {
    text-shadow: none;
  }

  .subject-readings__reading-title {
    color: $text;
  }

  .subject-section__title,
  .subject-section__subtitle,
  .subject-section__text {
    text-shadow: none;
    border-color: $text;
  }

  .user-note__link {
    text-shadow: none;
    color: $text-grayed;
  }

  .user-note__fields {
    background-color: $surface-3;
    text-shadow: none;

    .user-note__input {
      background-color: $surface-3;
      text-shadow: none;
      color: $text;
    }

    .user-note__character-count {
      color: $text;
    }

    .user-note__button {
      text-shadow: none;
      color: $text;
    }
  }

  .subject-readings-with-audio {
    text-shadow: none;

    .reading-with-audio__reading {
      font-size: 2rem;
      font-weight: bold;
      color: $text-hl;
    }
  }

  .subject-collocations__title,
  .subject-collocations {
    text-shadow: none;
  }

  .subject-collocations__patterns::after {
    box-shadow: 0 0 1px #{$text-grayed};
  }

  .subject-collocations__pattern-name {
    background-color: $surface-inv;
    color: $surface-2;
    filter: brightness(0.6);
    text-shadow: none;

    &[aria-selected="true"] {
      filter: none;

      &::after {
        background-color: $surface-2;
        background-image: none;
        box-shadow: 0 0 1px #{$text};
      }
    }
  }

  .subject-character-grid--single-column li {
    &:nth-child(odd) {
      filter: $kotoba-odd-row-filter;
    }
    &:first-child a {
      border-radius: 0.3em 0.3em 0 0;
    }
    &:last-child a {
      border-radius: 0 0 0.3em 0.3em;
    }
  }

  .subject-character--grid.subject-character--locked {
    background-image: none;
    filter: $locked-item-filter;
  }

  .last-item {
    box-shadow: none;
    background-color: $surface-3;
    color: $text;
    border-radius: 0.3em 0.3em 0.3em 0.3em;

    .last-item__characters--radical {
      color: $text;
      background-color: $radical;
      text-shadow: none;
    }

    .last-item__characters--kanji {
      color: $text;
      background-color: $kanji;
      text-shadow: none;
    }

    .last-item__characters--vocabulary {
      color: $text;
      background-color: $vocab;
      text-shadow: none;
    }

    .last-item__label {
      color: $text-grayed;
    }

    .last-item__value {
      color: $text;
    }
  }

  .kana-chart__tab {
    text-shadow: none;
    color: $text;
    border-bottom: 1px solid #{$text};
    border-radius: 6px 6px 0 0;
    &.kana-chart__tab--selected {
      border: 1px solid #{$text};
      border-bottom: none;
    }
    &:hover {
      background-color: $surface-inv;
      color: $text-inv;
    }
  }

  .kana-chart__backspace {
    background-color: $surface-inv;
    color: $text-inv;
    .kana-chart__backspace-text {
      text-shadow: none;
    }
    &:hover {
      background-color: $text-grayed;
    }
  }

  .kana-chart__character {
    background-color: $surface-3;
    text-shadow: none;

    &:hover {
      background-color: $surface-4;
    }

    .kana-chart__character-romaji {
      color: $text-grayed;
    }
  }
}

.user-synonyms__form_container .user-synonyms__synonym-button:hover .wk-icon,
.user-synonyms__form_container .user-synonyms__synonym-button:active .wk-icon {
  --color-icon: #{$text-inv};
}

.answer-exception,
.quiz-input__exception {
  text-shadow: none;
  box-shadow: none;
  background-color: $surface-3;
  color: $text;
  &:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $surface-3 rgba(0, 0, 0, 0);
  }
}

.hotkeys-menu {
  color: $text;
  text-shadow: none;
  background-color: $surface-3;
  border-radius: 0.3em 0.3em 0 0;
  &.hotkeys-menu--open {
    border: 1px solid #{$surface-1};
    border-bottom: none;
  }
  .hotkeys-menu__header {
    color: $text;
    border-radius: 0.3em 0.3em 0 0;
    background-color: $surface-2;
  }
  .hotkeys-menu__key {
    background-color: $surface-4;
  }
}
.chat-button {
  background-color: $surface-2;
}

#user_synonyms {
  flex-direction: row;
  align-items: center;

  ul {
    color: $text-hl;
    font-weight: bold;
    font-size: 1.5em;
  }
}
