// pages/review.scss

@use "../base/variables.scss" as *;

.character-header {
  background-image: none;

  .character-header__characters {
    text-shadow: none;
    color: $text;
  }

  .character-header__menu {
    color: $text;
  }

}

.character-header--radical {
  background-color: $radical;
}

.character-header--kanji {
  background-color: $kanji;
}

.character-header--vocabulary {
  background-color: $vocab;
}

.quiz-input__question-type-container {
  &[data-question-type="meaning"] {
    color: $text-inv;
    background: $surface-inv;
    text-shadow: none;
    background-image: none;
    border: none;
  }
  &[data-question-type="reading"] {
    color: $text;
    background: $surface-2;
    text-shadow: none;
    background-image: none;
    border: none;
  }
}

.quiz-input__input {
  text-shadow: none;
  box-shadow: none;
  color: $text;
  &:placeholder {
    color: $text-grayed;
  }
}

.additional-content__item {
  box-shadow: none;
  background-color: $surface-2;
  color: $text;
  border-color: $surface-2;
}

.additional-content__item--open::after {
  border-color: rgba(0,0,0,0) rgba(0,0,0,0) $surface-3 rgba(0,0,0,0);
}

.additional-content__content {
  background-color: $surface-2;
  box-shadow: none;
  border-color: $surface-3;

  .subject-section__meanings {
    align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .subject-section__meanings-title {
    color: $text;
    font-size: 1rem;
  }
  .subject-section__meanings-items {
    color: $text-hl;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .subject-section__title,
  .subject-section__subtitle,
  .subject-section__text {
    text-shadow: none;
    border-color: $text;
  }

  .user-note__link {
    text-shadow: none;
    color: $text-grayed;
  }

  .user-note__fields {
    background-color: $surface-3;
    text-shadow: none;

    .user-note__input {
      background-color: $surface-3;
      text-shadow: none;
      color: $text;
    }

    .user-note__character-count {
      color: $text
    }

    .user-note__button {
      text-shadow: none;
      color: $text;
    }
  }

  .subject-readings-with-audio {
    text-shadow: none;

    .reading-with-audio__reading {
      font-size: 1.5rem;
      font-weight: bold;
      color: $text-hl;
    }
  }
}

.user-synonyms__form_container .user-synonyms__synonym-button:hover .wk-icon,
.user-synonyms__form_container .user-synonyms__synonym-button:active .wk-icon {
  --color-icon: #{$text-inv};
}

.answer-exception {
  text-shadow: none;
  box-shadow: none;
  background-color: $surface-3;
  color: $text;
  &:before {
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) $surface-3 rgba(0,0,0,0);
  }
}
