// pages/settings.scss

@use "../base/variables.scss" as *;

#preference_lessons_batch_size,
#preference_reviews_display_srs_indicator,
#preference_reviews_presentation_order,
#preference_lessons_interleave_subjects,
#preference_preferred_voice_actor_type,
#preference_lessons_autoplay_audio,
#preference_reviews_autoplay_audio,
#preference_extra_study_autoplay_audio,
#maximum_recommended_daily_lesson_count,
#username, #new_password, #current_password,
#email, #new_email_password, #preference_timezone,
#preference_gravatar_profile_pic,
#preference_opt_mail, #preference_emails_on_level_up,
#preference_update_email_frequency,
#user_reset_target_level {
  background-color: $surface-3;
}

.settings-link,
#gravatar_profile_pic a:not(.wk-button--default),
#personal_access_token_frame a:not(.wk-button--default){
  color: $text-hl;

  &:hover {
    color: $text-grayed;
  }
}

#personal_access_token_frame .wk-code {
  border-radius: 5px;
  padding: 0.3em;
  font-weight: bold;
}
