// base/core.scss

@use "variables" as *;

#turbo-body,
.site-content-container,
.site-footer-container,
.lesson-container {
  background-color: $surface-1;
  background-image: none;
}

.global-header {
  background: $surface-2;
  border-bottom-color: $surface-4;

  .logo {
    filter: $logo-filter;
  }

  .sitemap__section-header {
    text-shadow: none;
    color: $text;
  }

  .lesson-and-review-count {
    :first-child * {
      --color-lesson-and-review-count-background: #{$lesson};
      --color-lesson-and-review-border-hover: #{$lesson};
    }
    :nth-child(2) * {
      --color-lesson-and-review-count-background: #{$review};
      --color-lesson-and-review-border-hover: #{$review};
    }
  }

  .sitemap__expandable-chunk--levels::before {
    background-color: $text;
  }

  .sitemap__expandable-chunk--levels {
    background-color: $surface-3;
    .sitemap__group-header {
      color: $text-grayed;
    }
    .sitemap__pages--levels .sitemap__page a {
      color: $text;
      background-color: $surface-4;
    }
    .sitemap__pages--levels .sitemap__page a:hover {
      color: $surface-3;
      background-color: $text;
    }
    .sitemap__page--current-level a {
      border-color: $text;
    }
  }

  .sitemap__expandable-chunk--radicals,
  .sitemap__expandable-chunk--kanji,
  .sitemap__expandable-chunk--vocabulary,
  .sitemap__expandable-chunk {
    background-color: $surface-3;
    color: $text;
  }

  .sitemap__page--subject a,
  .sitemap__page-subtitle {
    color: $text;
  }

  .sitemap__page a {
    color: $text;
  }

  #sitemap__account .sitemap__page a:hover,
  #sitemap__account .sitemap__page a:focus,
  #sitemap__help .sitemap__page--subject a:hover,
  #sitemap__help .sitemap__page--subject a:focus {
    background-color: $text;
    color: $surface-3;
  }

  .sitemap__section-header:hover,
  .sitemap__section-header:focus,
  .search-button:hover,
  .search-button:focus {
    border-color: $text;
  }

  .sitemap__section-header--subsection {
    color: $text-grayed;
  }

  .sitemap__expandable-chunk:before {
    background-color: $text;
  }

  .sitemap__section--open .sitemap__section-header--radicals,
  .sitemap__section-header--radicals:hover,
  .sitemap__section-header--radicals:focus {
    border-color: $radical;
  }

  .sitemap__expandable-chunk--radicals:before {
    background-color: $radical;
  }

  .sitemap__pages--radical {
    .sitemap__page--subject {
      border-color: $radical;
    }

    .sitemap__page--subject a:hover {
      background-color: $radical;
    }
  }

  .sitemap__section--open .sitemap__section-header--kanji,
  .sitemap__section-header--kanji:hover,
  .sitemap__section-header--kanji:focus {
    border-color: $kanji;
  }

  .sitemap__expandable-chunk--kanji:before {
    background-color: $kanji;
  }

  .sitemap__pages--kanji {
    .sitemap__page--subject {
      border-color: $kanji;
    }

    .sitemap__page--subject a:hover {
      background-color: $kanji;
    }
  }

  .sitemap__section--open .sitemap__section-header--vocabulary,
  .sitemap__section-header--vocabulary:hover,
  .sitemap__section-header--vocabulary:focus {
    border-color: $vocab;
  }

  .sitemap__expandable-chunk--vocabulary:before {
    background-color: $vocab;
  }

  .sitemap__pages--vocabulary {
    .sitemap__page--subject {
      border-color: $vocab;
    }

    .sitemap__page--subject a:hover {
      background-color: $vocab;
    }
  }

  .navigation__toggle {
    .navigation__toggle-icon,
    .navigation__toggle-icon::before,
    .navigation__toggle-icon::after {
      background: $text;
      border-color: $text;
    }
  }

  .navigation--open {
    .navigation__toggle {
      background-color: $surface-3;
      .navigation__toggle-icon {
        background: transparent;
        border-color: transparent;
      }
      .navigation__toggle-icon::before,
      .navigation__toggle-icon::after {
        background: $text;
        border-color: $text;
      }
    }

    .sitemap {
      box-shadow: none;
      background-color: $surface-2;

      .sitemap__section-header::before {
        border-color: $text;
      }

      .sitemap--divider {
        border-color: $text;
      }
    }
  }

  .sitemap {
    box-shadow: none;
    background-color: $surface-2;
  }
}

.search--open {
  .search__query {
    background-color: $surface-3;
    color: $text;
    border-color: $text;
  }

  .search__query::placeholder {
    color: $text-grayed;
  }

  .search__button {
    color: $surface-1;
    background: $text;
  }

  .search__button:hover,
  .search__button:focus {
    background: $text-grayed;
  }
}

.wk-button--primary:hover .wk-button__content,
.wk-button--primary:focus .wk-button__content,
.wk-button--secondary:hover .wk-button__content,
.wk-button--secondary:focus .wk-button__content {
  transform: translateY(-4px);
  outline: 1px solid $text;
}

.wk-button--primary:active .wk-button__content,
.wk-button--secondary:active .wk-button__content {
  transform: translateY(-4px);
  outline: 2px solid $text;
}

.wk-button--primary:hover .wk-button__shadow,
.wk-button--primary:focus .wk-button__shadow,
.wk-button--primary:active .wk-button__shadow,
.wk-button--secondary:hover .wk-button__shadow,
.wk-button--secondary:focus .wk-button__shadow,
.wk-button--secondary:active .wk-button__shadow {
  background: transparent;
}

turbo-frame[data-show-loading="true"]:not([complete]):after {
  filter: $loading-filter;
}

.footer__item--copyright {
  filter: invert(1);
  background-color: $kanji;
}

.reading-with-audio__audio-item[playing="true"] .wk-icon--sound_off {
  display: inline-block;
  --color-icon: #{$text-grayed};
}
