// base/overrides.scss

@use "variables" as *;

:root {
  --text-shadow-light: none;
  --text-shadow-dark: none;
  --color-icon: #{$text};
  //--color-black: #000;
  //--color-gray-light: #EEE;
  //--color-white: #FFF;
  //--color-red: #F03;
  //--color-blue: #00AAFF;
  //--color-pink: #FF00AA;
  //--color-purple: #AA00FF;
  --color-text: #{$text};
  --color-character-text: #{$text};
  --color-title-underline: #{$text};
  --color-link: #{$text-grayed};
  --color-link-active: #{$text};
  --color-link-hover: #{$text};
  --color-radical: #{$radical};
  //--color-radical-dark: #0093DD;
  //--color-radical-highlight: #88D7FF;
  //--color-radical-lowlight: #069;
  --color-radical-gradient: none;
  --color-kanji: #{$kanji};
  //--color-kanji-dark: #DD0093;
  //--color-kanji-highlight: #F6C;
  //--color-kanji-lowlight: #CC0088;
  --color-kanji-gradient: none;
  --color-vocabulary: #{$vocab};
  //--color-vocabulary-dark: #9300DD;
  //--color-vocabulary-highlight: #C655FF;
  //--color-vocabulary-lowlight: #8800CC;
  --color-vocabulary-gradient: none;
  --color-burned: #{$burned};
  //--color-burned-dark: #484848;
  //--color-burned-highlight: #555;
  //--color-burned-lowlight: #333;
  --color-burned-gradient: none;
  --color-locked: #{$surface-4};
  //--color-locked-dark: #BFBFBF;
  //--color-locked-highlight: #DDD;
  //--color-locked-lowlight: #999;
  --color-locked-gradient: none;
  --color-new-badge-background: #{$progress};
  --color-new-badge-text: #{$text};
  --color-subject-slide-navigation-background: #{$surface-2};
  --color-subject-slide-navigation-text: #{$text};
  --color-subject-slide-navigation-button-hover: #{$surface-3};
  //--color-modal-mask: rgba(0,0,0,0.8);
  --color-modal-background: #{$surface-1};
  //--color-lesson-modal-text: #FFF;
  //--color-alert-cta-background: #0077B3;
  //--color-alert-cta-text: #FFF;
  //--color-alert-cta-text-shadow: var(--text-shadow-dark);
  //--color-alert-error-background: #FFE4E6;
  //--color-alert-error-text: #BE123C;
  //--color-alert-error-border: #FB7185;
  //--color-alert-error-text-shadow: var(--text-shadow-light);
  --color-alert-info-background: #{$alert};
  --color-alert-info-text: #{$text};
  --color-alert-info-border: #{$alert};
  --color-alert-info-text-shadow: none;
  --color-alert-system-background: #{$alert};
  --color-alert-system-text: #{$text};
  //--color-alert-system-text-shadow: var(--text-shadow-dark);
  //--color-button-alert-background: #FFF;
  //--color-button-alert-hover-background: rgba(255, 255, 255, 0.7529411765);
  //--color-button-alert-active-background: var(--color-button-alert-hover-background);
  //--color-button-alert-border: #FFF;
  //--color-button-alert-hover-border: rgba(255, 255, 255, 0.7529411765);
  //--color-button-alert-active-border: var(--color-button-alert-hover-border);
  //--color-button-alert-text: #555;
  //--color-button-alert-hover-text: #333;
  //--color-button-alert-active-text: var(--color-button-alert-hover-text);
  //--color-button-alert-text-shadow: var(--text-shadow-light);
  //--color-button-alert-hover-text-shadow: var(--color-button-alert-text-shadow);
  //--color-button-alert-active-text-shadow: var(--color-button-alert-hover-text-shadow);
  --color-button-danger-background: #{$alert};
  --color-button-danger-hover-background: #{$text};
  --color-button-danger-active-background: #{$text};
  --color-button-danger-border: #{$alert};
  --color-button-danger-hover-border: #{$alert};
  --color-button-danger-active-border: #{$alert};
  --color-button-danger-text: #{$text};
  --color-button-danger-hover-text: #{$alert};
  --color-button-danger-active-text: #{$alert};
  --color-button-danger-text-shadow: none;
  --color-button-danger-hover-text-shadow: none;
  --color-button-danger-active-text-shadow: none;
  //--color-button-default-background: transparent;
  //--color-button-default-hover-background: var(--color-button-default-background);
  //--color-button-default-active-background: var(--color-button-default-hover-background);
  --color-button-default-border: #{$text};
  --color-button-default-hover-border: #{$text-grayed};
  //--color-button-default-active-border: var(--color-button-default-hover-border);
  --color-button-default-text: #{$text};
  --color-button-default-hover-text: #{$text-grayed};
  //--color-button-default-active-text: var(--color-button-default-hover-text);
  //--color-button-default-text-shadow: var(--text-shadow-light);
  //--color-button-default-hover-text-shadow: var(--color-button-default-text-shadow);
  //--color-button-default-active-text-shadow: var(--color-button-default-hover-text-shadow);
  //--color-button-frameless-background: transparent;
  //--color-button-frameless-hover-background: var(--color-button-frameless-background);
  //--color-button-frameless-active-background: var(--color-button-frameless-hover-background);
  //--color-button-frameless-border: transparent;
  //--color-button-frameless-hover-border: var(--color-button-frameless-border);
  //--color-button-frameless-active-border: var(--color-button-frameless-hover-border);
  --color-button-frameless-text: #{$text-grayed};
  --color-button-frameless-hover-text: #{$text};
  //--color-button-frameless-active-text: var(--color-button-frameless-hover-text);
  //--color-button-frameless-text-shadow: var(--text-shadow-light);
  //--color-button-frameless-hover-text-shadow: var(--color-button-frameless-text-shadow);
  //--color-button-frameless-active-text-shadow: var(--color-button-frameless-hover-text-shadow);
  //--color-button-icon-only-background: transparent;
  //--color-button-icon-only-hover-background: rgba(136, 136, 136, 0.1254901961);
  //--color-button-icon-only-active-background: rgba(136, 136, 136, 0.2509803922);
  //--color-button-icon-only-border: transparent;
  //--color-button-icon-only-hover-border: var(--color-button-icon-only-border);
  //--color-button-icon-only-active-border: var(--color-button-icon-only-hover-border);
  //--color-button-icon-only-text: #555;
  //--color-button-icon-only-hover-text: #333;
  //--color-button-icon-only-active-text: var(--color-button-icon-only-hover-text);
  //--color-button-icon-only-text-shadow: var(--text-shadow-light);
  //--color-button-icon-only-hover-text-shadow: var(--color-button-icon-only-text-shadow);
  //--color-button-icon-only-active-text-shadow: var(--color-button-icon-only-hover-text-shadow);
  --color-button-modal-primary-background: #{$text};
  //--color-button-modal-primary-hover-background: var(--color-button-modal-primary-background);
  //--color-button-modal-primary-active-background: var(--color-button-modal-primary-hover-background);
  --color-button-modal-primary-border: #{$text};
  //--color-button-modal-primary-hover-border: var(--color-button-modal-primary-border);
  //--color-button-modal-primary-active-border: var(--color-button-modal-primary-hover-border);
  //--color-button-modal-primary-text: var(--color-black);
  //--color-button-modal-primary-hover-text: var(--color-button-modal-primary-text);
  //--color-button-modal-primary-active-text: var(--color-button-modal-primary-hover-text);
  //--color-button-modal-primary-text-shadow: var(--text-shadow-light);
  //--color-button-modal-primary-hover-text-shadow: var(--color-button-modal-primary-text-shadow);
  //--color-button-modal-primary-active-text-shadow: var(--color-button-modal-primary-hover-text-shadow);
  //--color-button-modal-secondary-background: transparent;
  //--color-button-modal-secondary-hover-background: var(--color-button-modal-secondary-background);
  //--color-button-modal-secondary-active-background: rgba(255, 255, 255, 0.5019607843);
  --color-button-modal-secondary-border: #{$text};
  //--color-button-modal-secondary-hover-border: var(--color-button-modal-secondary-border);
  //--color-button-modal-secondary-active-border: var(--color-button-modal-secondary-hover-border);
  --color-button-modal-secondary-text: #{$text};
  //--color-button-modal-secondary-hover-text: var(--color-button-modal-secondary-text);
  //--color-button-modal-secondary-active-text: var(--color-button-modal-secondary-hover-text);
  //--color-button-modal-secondary-text-shadow: var(--text-shadow-dark);
  //--color-button-modal-secondary-hover-text-shadow: var(--color-button-modal-secondary-text-shadow);
  //--color-button-modal-secondary-active-text-shadow: var(--color-button-modal-secondary-hover-text-shadow);
  //--color-button-subscribe-background: #EC4899;
  //--color-button-subscribe-hover-background: #E8197F;
  //--color-button-subscribe-active-background: #BB1366;
  //--color-button-subscribe-border: #EC4899;
  //--color-button-subscribe-hover-border: #E8197F;
  //--color-button-subscribe-active-border: #BB1366;
  //--color-button-subscribe-text: #FFF;
  //--color-button-subscribe-hover-text: var(--color-button-subscribe-text);
  //--color-button-subscribe-active-text: var(--color-button-subscribe-hover-text);
  //--color-button-subscribe-text-shadow: var(--text-shadow-dark);
  //--color-button-subscribe-hover-text-shadow: var(--color-button-subscribe-text-shadow);
  //--color-button-subscribe-active-text-shadow: var(--color-button-subscribe-hover-text-shadow);
  --color-button-quiz-background: #{$surface-3};
  //--color-button-quiz-hover-background: var(--color-button-quiz-background);
  //--color-button-quiz-active-background: var(--color-button-quiz-hover-background);
  //--color-button-quiz-border: transparent;
  //--color-button-quiz-hover-border: var(--color-button-quiz-border);
  //--color-button-quiz-active-border: var(--color-button-quiz-hover-border);
  --color-button-quiz-text: #{$text};
  //--color-button-quiz-hover-text: var(--color-button-quiz-text);
  //--color-button-quiz-active-text: var(--color-button-quiz-hover-text);
  //--color-button-quiz-text-shadow: var(--text-shadow-dark);
  //--color-button-quiz-hover-text-shadow: var(--color-button-quiz-text-shadow);
  //--color-button-quiz-active-text-shadow: var(--color-button-quiz-hover-text-shadow);
  --color-button-lesson-picker-background: #{$surface-3};
  --color-button-lesson-picker-border: #{$surface-3};
  --color-button-lesson-picker-text: #{$text};
  --color-button-lesson-picker-box-shadow: none;
  --color-button-lesson-picker-text-shadow: none;
  --color-button-lesson-picker-hover-background: #{$surface-3};
  --color-button-lesson-picker-hover-border: #{$surface-3};
  --color-button-lesson-picker-hover-text: #{$text};
  --color-button-lesson-picker-hover-text-shadow: none;
  --color-button-lesson-picker-active-background: #{$surface-3};
  --color-button-lesson-picker-active-border: #{$surface-3};
  --color-button-lesson-picker-active-text: #{$text};
  --color-button-lesson-picker-active-text-shadow: none;
  --color-button-lesson-picker-disabled-background: #{$text-grayed};
  --color-button-lesson-picker-disabled-hover-background: #{$text-grayed};
  --color-button-lesson-picker-disabled-border: #{$text-grayed};
  --color-button-lesson-picker-disabled-box-shadow: none;
  --color-button-lesson-picker-disabled-text: #{$surface-2};
  --color-button-lesson-picker-disabled-text-shadow: none;
  --color-button-lesson-picker-count-background: #{$text};
  --color-button-lesson-picker-count-text: #{$surface-3};
  --color-button-synonym-background: #{$surface-3};
  --color-button-synonym-border: transparent;
  --color-button-synonym-text: #{$text};
  --color-button-synonym-text-shadow: none;
  --color-button-synonym-hover-background: #{$surface-inv};
  --color-button-synonym-hover-border: transparent;
  --color-button-synonym-hover-text: #{$text-inv};
  --color-button-synonym-hover-text-shadow: none;
  --color-button-synonym-active-background: #{$surface-inv};
  --color-button-synonym-active-border: transparent;
  --color-button-synonym-active-text: #{$text-inv};
  --color-button-synonym-active-text-shadow: none;
  //--color-button-blocked-synonym-background: #DD9B9B;
  //--color-button-blocked-synonym-border: transparent;
  //--color-button-blocked-synonym-text: #333;
  //--color-button-blocked-synonym-text-shadow: 0 1px 0 #FFFFFF80;
  //--color-button-blocked-synonym-hover-background: #DD5050;
  //--color-button-blocked-synonym-hover-border: transparent;
  //--color-button-blocked-synonym-hover-text: #FFF;
  //--color-button-blocked-synonym-hover-text-shadow: var(--text-shadow-dark);
  //--color-button-blocked-synonym-active-background: #DE1B1B;
  //--color-button-blocked-synonym-active-border: transparent;
  //--color-button-blocked-synonym-active-text: #FFF;
  //--color-button-blocked-synonym-active-text-shadow: var(--text-shadow-dark);
  //--color-form-error-text: #B94A48;
  //--color-form-error-background: #DD9B9B;
  //--color-form-error-text-shadow: #FFFFFF80;
  //--color-form-control-indicator-error: var(--color-alert-error-text);
  //--color-form-control-indicator-success: #008000;
  //--color-form-control-indicator-loading: #AAA;
  --color-code-text: #{$alert};
  --color-code-background: #{$text};
  --color-code-border: #{$alert};
  //--color-hint-text: #666;
  //--color-hint-title: #555;
  //--color-hint-background: #e6e6e6;
  --color-input-text: #{$text};
  --color-input-background: #{$surface-2};
  --color-input-border: #{$surface-2};
  --color-input-focus-border: #{$surface-3};
  //--color-lesson-and-review-border: rgba(0, 0, 0, 0.1);
  //--color-lesson-and-review-border-hover: rgba(0, 0, 0, 0.2);
  --color-lesson-and-review-count-background: #{$lesson};
  --color-lesson-and-review-count-zero-background: #{$surface-3};
  --color-lesson-and-review-count-text: #{$text};
  --color-lesson-and-review-count-text-shadow: none;
  --color-reviews-dashboard-background: #{$review};
  --color-todays-lessons-background: #{$lesson};
  --color-todays-lessons-completed-background: #{$surface-2};
  --color-todays-lessons-loading-background: #{$surface-2};
  --color-todays-lessons-text: #{$text};
  --color-placeholder-background-stop-1: #{$surface-3};
  --color-placeholder-background-stop-2: #{$surface-4};
  --color-level-progress-bar-background: #{$surface-3};
  --color-level-progress-bar-text: #{$text};
  --color-level-progress-bar-progress: #{$progress};
  --color-level-progress-bar-progress-text: #{$text};
  //--color-level-progress-bar-shadow: rgba(0, 0, 0, 0.1);
  //--color-text-shadow-dark: rgba(0, 0, 0, 0.2);
  //--color-text-shadow-light: #FFF;
  --color-quiz-input-background: #{$surface-2};
  --color-quiz-input-focus: #{$surface-3};
  --color-quiz-incorrect-background: #{$incorrect};
  --color-quiz-incorrect-text-color: #{$text};
  --color-quiz-incorrect-text-shadow: none;
  --color-quiz-correct-background: #{$correct};
  --color-quiz-correct-text-color: #{$text};
  --color-quiz-correct-text-shadow: none;
  --color-quiz-srs-correct-background: #{$correct};
  --color-quiz-srs-correct-text-color: #{$text};
  --color-quiz-srs-correct-text-shadow: none;
  --color-quiz-srs-incorrect-background: #{$incorrect};
  --color-quiz-srs-incorrect-text-color: #{$text};
  --color-quiz-srs-incorrect-text-shadow: none;
  --color-srs-progress-text: #{$text};
  --color-srs-progress-header-divider: #{$text};
  --color-srs-progress-apprentice: #{$apprentice};
  --color-srs-progress-burned: #{$burned};
  --color-srs-progress-enlightened: #{$enlightened};
  --color-srs-progress-guru: #{$guru};
  --color-srs-progress-master: #{$master};
  --color-srs-progress-subject-type-background: rgba(0, 0, 0, 0.1);
  --color-subject-srs-progress-stage-background: #{$text};
  --color-subject-srs-progress-stage-complete-background: #{$progress};
  //--color-synonym-blocked: #DD5252;
  --color-wk-panel-background: #{$surface-2};
  --color-wk-panel-content-background: #{$surface-3};
  --color-wk-panel-content-title-underline: #{$text};
  //--color-extra-study-button-border: #93C5FD;
  //--color-extra-study-tooltip-background: #333;
  //--color-extra-study-tooltip-text: #FFF;
  //--color-extra-study-tooltip-button-background: transparent;
  //--color-extra-study-tooltip-button-border: #BDBDBD;
  //--color-extra-study-button-hover: #1D4ED8;
  //--color-extra-study-button-active: #000;
  //--color-extra-study-button-disabled: #616161;
  //--color-recent-mistakes-intro-divider: #E8E8E8;
  --color-review-forecast-divider: #{$text};
  --color-review-forecast-increase-sign: #{$text};
  --color-review-forecast-bar: #{$brand};
  //--color-review-forecast-empty-expand-icon: #BDBDBD;
  //--color-about-page-image-focus-border: 5px solid var(--color-white);
  //--color-about-page-image-focus-shadow-background: rgba(0, 0, 0, 0.2);
  //--color-about-page-image-focus-shadow: 0 0 20px var(--color-about-page-image-focus-shadow-background);
  //--color-subscription-plan-divider: #E0E0E0;
  //--color-subscription-plan-border: #E0E0E0;
  //--color-subscription-plan-background: #F9FAFB;
  //--color-subscription-plan-upsell-background: var(--color-alert-cta-background);
  //--color-subscription-plan-upsell-text: #FFF;
  //--color-subscription-plan-upsell-text-shadow: 1px 1px 0 var(--color-text-shadow-dark);
  --color-billing-plan-background: #{$surface-3};
  --color-billing-plan-border: #{$text-hl};
  --color-billing-plan-title-background: #{$text-hl};
  --color-billing-plan-title-text: #{$surface-3};
  --color-billing-receipt-background-hover: #{$surface-3};
  --color-billing-activation-error: #{$alert};
  --color-lesson-picker-footer-background: #{$surface-2};
  --color-lesson-picker-footer-border: 1px solid #{$surface-3};
  --color-lesson-picker-footer-shadow-color: transparent;
  --color-lesson-picker-footer-shadow: none;
  //--color-lesson-picker-section-title-underline: 1px solid var(--color-wk-panel-content-title-underline);
  //--color-lesson-picker-warning-text: var(--color-form-error-text);
  //--color-subject-list-separator: #999;
  --color-character-grid-header-background: #{$surface-3};
  --color-character-grid-header-text: #{$text};
  //--color-count_bubble-text: var(--color-text);
  --color-count_bubble-background: #{$text};
  --color-authentication-footer-divider: #{$text};
  //--color-widget-border: 2px solid #D7DEE9;
  //--color-widget-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.05);
  //--color-widget-divider: 1px solid #D7DEE9;
  //--color-widget-secondary-text: #636B76;
  //--color-widget-value-text: #3F374E;
  //--color-widget-change-background: #E0E0E0;
  //--color-widget-change-text: #3F374E;
  //--color-widget-change-positive-background: #DBF9C9;
  //--color-widget-change-positive-text: #177D21;
  //--color-widget-change-negative-background: #FEF9CF;
  //--color-widget-change-negative-text: #7D7317;
  //--color-widget-offering-available: var(--color-text);
  //--color-widget-offering-unavailable: #B5B5B5;
  //--color-widget-study-streak-not-done: #B1B4BA;
  //--color-widget-study-streak-done: #008000;
  --color-text-highlight-default-text: #{$text};
  --color-text-highlight-radical-background: #{$radical};
  --color-text-highlight-kanji-background: #{$kanji};
  --color-text-highlight-vocabulary-background: #{$vocab};
  --color-text-highlight-meaning-background: #{$text-inv};
  --color-text-highlight-reading-background: #{$text-inv};
  --color-text-highlight-radical-gradient: none;
  --color-text-highlight-kanji-gradient: none;
  --color-text-highlight-vocabulary-gradient: none;
  --color-text-highlight-meaning-gradient: none;
  --color-text-highlight-reading-gradient: none;
  --text-highlight-text-shadow: none;
  --text-highlight-box-shadow: none;
  --color-nav-header-text: #{$text};
  --color-nav-header-text-shadow: none;
  --color-nav-item-background: #{$surface-3};
  --color-nav-item-text: #{$text};
  --color-nav-item-text-shadow: none;
  --color-nav-item-highlight-background: #{$surface-4};
  --color-nav-item-highlight-text: #{$text};
  --color-nav-item-highlight-text-shadow: none;
  --color-setting-divider: #{$text};
  --color-progress-chart-bar-background: #{$surface-3};
  --color-progress-chart-bar: #{$progress};
  --color-progress-chart-bar-gradient: none;
  --color-progress-chart-label-text: #{$text};
  --color-progress-chart-label-text-shadow: none;
  --color-progress-chart-metric-text: #{$text};
  --color-progress-chart-metric-count: #{$surface-1};
  --color-progress-chart-metric-count-background: #{$text};
  --color-progress-chart-metric-count-shadow: none;
  --color-public-profile-avatar-border: #{$surface-2};
  --color-public-profile-info-background: #{$surface-2};
  --color-public-profile-info-text: #{$text};
  --color-public-profile-info-text-emphasis: #{$text-hl};
  --color-dashboard-list-empty-icon: #{$text};
  //--color-new-user-modal-background: #068ED0;
  //--color-new-user-modal-text: #FFF;
  //--color-new-user-modal-text-shadow: var(--text-shadow-dark);
  --color-community-banner-background: #{$surface-2};
  --color-community-banner-border: transparent;
  --color-community-banner-text: #{$text};
  //--color-mnemonic-image-background: #FFF;
}
