// base/overrides.scss

@use "variables" as *;

:root {
  --text-shadow-light: none;
  --text-shadow-dark: none;
  --color-icon: #{$text};
  //--color-black: #000;
  //--color-gray-light: #EEE;
  //--color-white: #FFF;
  //--color-red: #F03;
  //--color-blue: #00AAFF;
  //--color-pink: #FF00AA;
  //--color-purple: #AA00FF;
  --color-text: #{$text};
  //--color-character-text: #FFF;
  //--color-title-underline: #D5D5D5;
  //--color-link: #08c;
  //--color-link-active: #005580;
  //--color-link-hover: #005580;
  --color-radical: #{$radical};
  //--color-radical-dark: #0093DD;
  //--color-radical-highlight: #88D7FF;
  //--color-radical-lowlight: #069;
  //--color-radical-gradient: linear-gradient(to bottom , var(--color-radical), var(--color-radical-dark));
  --color-kanji: #{$kanji};
  //--color-kanji-dark: #DD0093;
  //--color-kanji-highlight: #F6C;
  //--color-kanji-lowlight: #CC0088;
  //--color-kanji-gradient: linear-gradient(to bottom, var(--color-kanji), var(--color-kanji-dark));
  --color-vocabulary: #{$vocab};
  //--color-vocabulary-dark: #9300DD;
  //--color-vocabulary-highlight: #C655FF;
  //--color-vocabulary-lowlight: #8800CC;
  //--color-vocabulary-gradient: linear-gradient(to bottom, var(--color-vocabulary), var(--color-vocabulary-dark));
  --color-burned: #{$burned};
  //--color-burned-dark: #484848;
  //--color-burned-highlight: #555;
  //--color-burned-lowlight: #333;
  //--color-burned-gradient: linear-gradient(to bottom, var(--color-burned), var(--color-burned-dark));
  //--color-locked: #CCC;
  //--color-locked-dark: #BFBFBF;
  //--color-locked-highlight: #DDD;
  //--color-locked-lowlight: #999;
  //--color-locked-gradient: var(--color-locked), var(--color-locked-dark);
  //--color-new-badge-background: #F03;
  //--color-new-badge-text: #FFF;
  //--color-subject-slide-navigation-background: #252A3A;
  //--color-subject-slide-navigation-text: var(--color-white, #FFF);
  //--color-subject-slide-navigation-button-hover: var(--color-gray-light);
  //--color-modal-mask: rgba(0,0,0,0.8);
  //--color-modal-background: var(--color-gray-light);
  //--color-lesson-modal-text: #FFF;
  //--color-alert-cta-background: #0077B3;
  //--color-alert-cta-text: #FFF;
  //--color-alert-cta-text-shadow: var(--text-shadow-dark);
  //--color-alert-error-background: #FFE4E6;
  //--color-alert-error-text: #BE123C;
  //--color-alert-error-border: #FB7185;
  //--color-alert-error-text-shadow: var(--text-shadow-light);
  //--color-alert-info-background: #E2E8F0;
  //--color-alert-info-text: #334155;
  //--color-alert-info-border: #94A3B8;
  //--color-alert-info-text-shadow: var(--text-shadow-light);
  --color-alert-system-background: #{$alert};
  --color-alert-system-text: #{$text};
  //--color-alert-system-text-shadow: var(--text-shadow-dark);
  //--color-button-alert-background: #FFF;
  //--color-button-alert-hover-background: rgba(255, 255, 255, 0.7529411765);
  //--color-button-alert-active-background: var(--color-button-alert-hover-background);
  //--color-button-alert-border: #FFF;
  //--color-button-alert-hover-border: rgba(255, 255, 255, 0.7529411765);
  //--color-button-alert-active-border: var(--color-button-alert-hover-border);
  //--color-button-alert-text: #555;
  //--color-button-alert-hover-text: #333;
  //--color-button-alert-active-text: var(--color-button-alert-hover-text);
  //--color-button-alert-text-shadow: var(--text-shadow-light);
  //--color-button-alert-hover-text-shadow: var(--color-button-alert-text-shadow);
  //--color-button-alert-active-text-shadow: var(--color-button-alert-hover-text-shadow);
  //--color-button-danger-background: #e01f15;
  //--color-button-danger-hover-background: #cf1c13;
  //--color-button-danger-active-background: #ac1810;
  //--color-button-danger-border: #e01f15;
  //--color-button-danger-hover-border: #cf1c13;
  //--color-button-danger-active-border: #ac1810;
  //--color-button-danger-text: #FFF;
  //--color-button-danger-hover-text: var(--color-button-danger-text);
  //--color-button-danger-active-text: var(--color-button-danger-hover-text);
  //--color-button-danger-text-shadow: var(--text-shadow-dark);
  //--color-button-danger-hover-text-shadow: var(--color-button-danger-text-shadow);
  //--color-button-danger-active-text-shadow: var(--color-button-danger-hover-text-shadow);
  //--color-button-default-background: transparent;
  //--color-button-default-hover-background: var(--color-button-default-background);
  //--color-button-default-active-background: var(--color-button-default-hover-background);
  --color-button-default-border: #{$text};
  --color-button-default-hover-border: #{$text-grayed};
  //--color-button-default-active-border: var(--color-button-default-hover-border);
  --color-button-default-text: #{$text};
  --color-button-default-hover-text: #{$text-grayed};
  //--color-button-default-active-text: var(--color-button-default-hover-text);
  //--color-button-default-text-shadow: var(--text-shadow-light);
  //--color-button-default-hover-text-shadow: var(--color-button-default-text-shadow);
  //--color-button-default-active-text-shadow: var(--color-button-default-hover-text-shadow);
  //--color-button-frameless-background: transparent;
  //--color-button-frameless-hover-background: var(--color-button-frameless-background);
  //--color-button-frameless-active-background: var(--color-button-frameless-hover-background);
  //--color-button-frameless-border: transparent;
  //--color-button-frameless-hover-border: var(--color-button-frameless-border);
  //--color-button-frameless-active-border: var(--color-button-frameless-hover-border);
  //--color-button-frameless-text: #999;
  //--color-button-frameless-hover-text: #333;
  //--color-button-frameless-active-text: var(--color-button-frameless-hover-text);
  //--color-button-frameless-text-shadow: var(--text-shadow-light);
  //--color-button-frameless-hover-text-shadow: var(--color-button-frameless-text-shadow);
  //--color-button-frameless-active-text-shadow: var(--color-button-frameless-hover-text-shadow);
  //--color-button-icon-only-background: transparent;
  //--color-button-icon-only-hover-background: rgba(136, 136, 136, 0.1254901961);
  //--color-button-icon-only-active-background: rgba(136, 136, 136, 0.2509803922);
  //--color-button-icon-only-border: transparent;
  //--color-button-icon-only-hover-border: var(--color-button-icon-only-border);
  //--color-button-icon-only-active-border: var(--color-button-icon-only-hover-border);
  //--color-button-icon-only-text: #555;
  //--color-button-icon-only-hover-text: #333;
  //--color-button-icon-only-active-text: var(--color-button-icon-only-hover-text);
  //--color-button-icon-only-text-shadow: var(--text-shadow-light);
  //--color-button-icon-only-hover-text-shadow: var(--color-button-icon-only-text-shadow);
  //--color-button-icon-only-active-text-shadow: var(--color-button-icon-only-hover-text-shadow);
  --color-button-modal-primary-background: #{$text};
  //--color-button-modal-primary-hover-background: var(--color-button-modal-primary-background);
  //--color-button-modal-primary-active-background: var(--color-button-modal-primary-hover-background);
  --color-button-modal-primary-border: #{$text};
  //--color-button-modal-primary-hover-border: var(--color-button-modal-primary-border);
  //--color-button-modal-primary-active-border: var(--color-button-modal-primary-hover-border);
  //--color-button-modal-primary-text: var(--color-black);
  //--color-button-modal-primary-hover-text: var(--color-button-modal-primary-text);
  //--color-button-modal-primary-active-text: var(--color-button-modal-primary-hover-text);
  //--color-button-modal-primary-text-shadow: var(--text-shadow-light);
  //--color-button-modal-primary-hover-text-shadow: var(--color-button-modal-primary-text-shadow);
  //--color-button-modal-primary-active-text-shadow: var(--color-button-modal-primary-hover-text-shadow);
  //--color-button-modal-secondary-background: transparent;
  //--color-button-modal-secondary-hover-background: var(--color-button-modal-secondary-background);
  //--color-button-modal-secondary-active-background: rgba(255, 255, 255, 0.5019607843);
  --color-button-modal-secondary-border: #{$text};
  //--color-button-modal-secondary-hover-border: var(--color-button-modal-secondary-border);
  //--color-button-modal-secondary-active-border: var(--color-button-modal-secondary-hover-border);
  --color-button-modal-secondary-text: #{$text};
  //--color-button-modal-secondary-hover-text: var(--color-button-modal-secondary-text);
  //--color-button-modal-secondary-active-text: var(--color-button-modal-secondary-hover-text);
  //--color-button-modal-secondary-text-shadow: var(--text-shadow-dark);
  //--color-button-modal-secondary-hover-text-shadow: var(--color-button-modal-secondary-text-shadow);
  //--color-button-modal-secondary-active-text-shadow: var(--color-button-modal-secondary-hover-text-shadow);
  //--color-button-subscribe-background: #EC4899;
  //--color-button-subscribe-hover-background: #E8197F;
  //--color-button-subscribe-active-background: #BB1366;
  //--color-button-subscribe-border: #EC4899;
  //--color-button-subscribe-hover-border: #E8197F;
  //--color-button-subscribe-active-border: #BB1366;
  //--color-button-subscribe-text: #FFF;
  //--color-button-subscribe-hover-text: var(--color-button-subscribe-text);
  //--color-button-subscribe-active-text: var(--color-button-subscribe-hover-text);
  //--color-button-subscribe-text-shadow: var(--text-shadow-dark);
  //--color-button-subscribe-hover-text-shadow: var(--color-button-subscribe-text-shadow);
  //--color-button-subscribe-active-text-shadow: var(--color-button-subscribe-hover-text-shadow);
  //--color-button-quiz-background: #34D399;
  //--color-button-quiz-hover-background: var(--color-button-quiz-background);
  //--color-button-quiz-active-background: var(--color-button-quiz-hover-background);
  //--color-button-quiz-border: transparent;
  //--color-button-quiz-hover-border: var(--color-button-quiz-border);
  //--color-button-quiz-active-border: var(--color-button-quiz-hover-border);
  //--color-button-quiz-text: #FFF;
  //--color-button-quiz-hover-text: var(--color-button-quiz-text);
  //--color-button-quiz-active-text: var(--color-button-quiz-hover-text);
  //--color-button-quiz-text-shadow: var(--text-shadow-dark);
  //--color-button-quiz-hover-text-shadow: var(--color-button-quiz-text-shadow);
  //--color-button-quiz-active-text-shadow: var(--color-button-quiz-hover-text-shadow);
  //--color-button-lesson-picker-background: var(--color-kanji);
  //--color-button-lesson-picker-border: #CC0088;
  //--color-button-lesson-picker-text: #FFF;
  //--color-button-lesson-picker-box-shadow: 0px -3px 0px 0px #CC0088 inset;
  //--color-button-lesson-picker-text-shadow: 0 1px 0 var(--color-text-shadow-dark);
  //--color-button-lesson-picker-hover-background: #E8197F;
  //--color-button-lesson-picker-hover-border: #E8197F;
  //--color-button-lesson-picker-hover-text: #FFF;
  //--color-button-lesson-picker-hover-text-shadow: 0 1px 0 var(--color-text-shadow-dark);
  //--color-button-lesson-picker-active-background: #BB1366;
  //--color-button-lesson-picker-active-border: #BB1366;
  //--color-button-lesson-picker-active-text: #FFF;
  //--color-button-lesson-picker-active-text-shadow: 0 1px 0 var(--color-text-shadow-dark);
  //--color-button-lesson-picker-disabled-background: #999;
  //--color-button-lesson-picker-disabled-hover-background: #666;
  //--color-button-lesson-picker-disabled-border: #88888820;
  //--color-button-lesson-picker-disabled-box-shadow: 0px -3px 0px 0px #00000033 inset;
  //--color-button-lesson-picker-disabled-text: #FFF;
  //--color-button-lesson-picker-disabled-text-shadow: 0 1px 0 var(--color-text-shadow-dark);
  //--color-button-lesson-picker-count-background: var(--color-white);
  //--color-button-lesson-picker-count-text: var(--color-kanji);
  //--color-button-synonym-background: #E1E1E1;
  //--color-button-synonym-border: transparent;
  //--color-button-synonym-text: #333;
  //--color-button-synonym-text-shadow: var(--text-shadow-light);
  //--color-button-synonym-hover-background: #555555;
  //--color-button-synonym-hover-border: transparent;
  //--color-button-synonym-hover-text: #FFF;
  //--color-button-synonym-hover-text-shadow: var(--text-shadow-dark);
  //--color-button-synonym-active-background: #333;
  //--color-button-synonym-active-border: transparent;
  //--color-button-synonym-active-text: #FFF;
  //--color-button-synonym-active-text-shadow: var(--text-shadow-dark);
  //--color-button-blocked-synonym-background: #DD9B9B;
  //--color-button-blocked-synonym-border: transparent;
  //--color-button-blocked-synonym-text: #333;
  //--color-button-blocked-synonym-text-shadow: 0 1px 0 #FFFFFF80;
  //--color-button-blocked-synonym-hover-background: #DD5050;
  //--color-button-blocked-synonym-hover-border: transparent;
  //--color-button-blocked-synonym-hover-text: #FFF;
  //--color-button-blocked-synonym-hover-text-shadow: var(--text-shadow-dark);
  //--color-button-blocked-synonym-active-background: #DE1B1B;
  //--color-button-blocked-synonym-active-border: transparent;
  //--color-button-blocked-synonym-active-text: #FFF;
  //--color-button-blocked-synonym-active-text-shadow: var(--text-shadow-dark);
  //--color-form-error-text: #B94A48;
  //--color-form-error-background: #DD9B9B;
  //--color-form-error-text-shadow: #FFFFFF80;
  //--color-form-control-indicator-error: var(--color-alert-error-text);
  //--color-form-control-indicator-success: #008000;
  //--color-form-control-indicator-loading: #AAA;
  //--color-code-text: #D14;
  //--color-code-background: #F7F7F9;
  //--color-code-border: #E1E1E8;
  //--color-hint-text: #666;
  //--color-hint-title: #555;
  //--color-hint-background: #e6e6e6;
  //--color-input-text: var(--color-text);
  //--color-input-background: #FFF;
  //--color-input-border: #BBB;
  //--color-input-focus-border: var(--color-radical);
  //--color-lesson-and-review-border: rgba(0, 0, 0, 0.1);
  //--color-lesson-and-review-border-hover: rgba(0, 0, 0, 0.2);
  --color-lesson-and-review-count-background: #{$kanji};
  --color-lesson-and-review-count-zero-background: #{$surface-3};
  --color-lesson-and-review-count-text: #{$text};
  --color-lesson-and-review-count-text-shadow: none;
  //--color-reviews-dashboard-background: var(--color-radical);
  //--color-todays-lessons-background: var(--color-kanji);
  --color-todays-lessons-completed-background: #{$surface-2};
  --color-todays-lessons-loading-background: #{$surface-2};
  --color-todays-lessons-text: #{$text};
  //--color-placeholder-background-stop-1: #ECECEC;
  //--color-placeholder-background-stop-2: #E5E5E5;
  --color-level-progress-bar-background: #{$surface-3};
  --color-level-progress-bar-text: #{$text};
  --color-level-progress-bar-progress: #{$progress};
  --color-level-progress-bar-progress-text: #{$text};
  //--color-level-progress-bar-shadow: rgba(0, 0, 0, 0.1);
  //--color-text-shadow-dark: rgba(0, 0, 0, 0.2);
  //--color-text-shadow-light: #FFF;
  //--color-quiz-input-background: #FFF;
  //--color-quiz-input-focus: #B7E0F4;
  //--color-quiz-incorrect-background: #F03;
  //--color-quiz-incorrect-text-color: var(--color-white);
  //--color-quiz-incorrect-text-shadow: 1px 1px 0 var(--color-text-shadow-dark);
  //--color-quiz-correct-background: #88cc00;
  //--color-quiz-correct-text-color: var(--color-white);
  //--color-quiz-correct-text-shadow: 1px 1px 0 var(--color-text-shadow-dark);
  //--color-quiz-srs-correct-background: #39aa0b;
  //--color-quiz-srs-correct-text-color: var(--color-white);
  //--color-quiz-srs-correct-text-shadow: 1px 1px 0 var(--color-text-shadow-dark);
  //--color-quiz-srs-incorrect-background: var(--color-red);
  //--color-quiz-srs-incorrect-text-color: var(--color-white);
  //--color-quiz-srs-incorrect-text-shadow: 1px 1px 0 var(--color-text-shadow-dark);
  --color-srs-progress-text: #{$text};
  --color-srs-progress-header-divider: #{$text};
  --color-srs-progress-apprentice: #{$apprentice};
  --color-srs-progress-burned: #{$burned};
  --color-srs-progress-enlightened: #{$enlightened};
  --color-srs-progress-guru: #{$guru};
  --color-srs-progress-master: #{$master};
  --color-srs-progress-subject-type-background: rgba(0, 0, 0, 0.1);
  //--color-subject-srs-progress-stage-background: #e0e0e0;
  //--color-subject-srs-progress-stage-complete-background: #08C66C;
  //--color-synonym-blocked: #DD5252;
  --color-wk-panel-background: #{$surface-2};
  --color-wk-panel-content-background: #{$surface-3};
  //--color-wk-panel-content-title-underline: #F5F5F5;
  //--color-extra-study-button-border: #93C5FD;
  //--color-extra-study-tooltip-background: #333;
  //--color-extra-study-tooltip-text: #FFF;
  //--color-extra-study-tooltip-button-background: transparent;
  //--color-extra-study-tooltip-button-border: #BDBDBD;
  //--color-extra-study-button-hover: #1D4ED8;
  //--color-extra-study-button-active: #000;
  //--color-extra-study-button-disabled: #616161;
  //--color-recent-mistakes-intro-divider: #E8E8E8;
  --color-review-forecast-divider: #{$text};
  --color-review-forecast-increase-sign: #{$text};
  --color-review-forecast-bar: #{$brand};
  //--color-review-forecast-empty-expand-icon: #BDBDBD;
  //--color-about-page-image-focus-border: 5px solid var(--color-white);
  //--color-about-page-image-focus-shadow-background: rgba(0, 0, 0, 0.2);
  //--color-about-page-image-focus-shadow: 0 0 20px var(--color-about-page-image-focus-shadow-background);
  //--color-subscription-plan-divider: #E0E0E0;
  //--color-subscription-plan-border: #E0E0E0;
  //--color-subscription-plan-background: #F9FAFB;
  //--color-subscription-plan-upsell-background: var(--color-alert-cta-background);
  //--color-subscription-plan-upsell-text: #FFF;
  //--color-subscription-plan-upsell-text-shadow: 1px 1px 0 var(--color-text-shadow-dark);
  //--color-billing-plan-background: #FFF;
  //--color-billing-plan-border: #E0E0E0;
  //--color-billing-plan-title-background: #616161;
  //--color-billing-plan-title-text: #FFF;
  //--color-billing-receipt-background-hover: hsla(0, 0%, 100%, 0.5);
  //--color-billing-activation-error: #B94A48;
  //--color-lesson-picker-footer-background: #ffffff55;
  //--color-lesson-picker-footer-border: 1px solid #DDD;
  //--color-lesson-picker-footer-shadow-color: rgba(0, 0, 0, 0.3);
  //--color-lesson-picker-footer-shadow: 0px -2px 4px var(--color-lesson-picker-footer-shadow-color);
  //--color-lesson-picker-section-title-underline: 1px solid var(--color-wk-panel-content-title-underline);
  //--color-lesson-picker-warning-text: var(--color-form-error-text);
  //--color-subject-list-separator: #999;
  //--color-character-grid-header-background: #E1E1E1;
  //--color-character-grid-header-text: #999;
  //--color-count_bubble-text: var(--color-text);
  --color-count_bubble-background: #{$text};
  //--color-authentication-footer-divider: #CBD5E1;
  //--color-widget-border: 2px solid #D7DEE9;
  //--color-widget-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.05);
  //--color-widget-divider: 1px solid #D7DEE9;
  //--color-widget-secondary-text: #636B76;
  //--color-widget-value-text: #3F374E;
  //--color-widget-change-background: #E0E0E0;
  //--color-widget-change-text: #3F374E;
  //--color-widget-change-positive-background: #DBF9C9;
  //--color-widget-change-positive-text: #177D21;
  //--color-widget-change-negative-background: #FEF9CF;
  //--color-widget-change-negative-text: #7D7317;
  //--color-widget-offering-available: var(--color-text);
  //--color-widget-offering-unavailable: #B5B5B5;
  //--color-widget-study-streak-not-done: #B1B4BA;
  //--color-widget-study-streak-done: #008000;
  //--color-text-highlight-default-text: #fff;
  //--color-text-highlight-radical-background: var(--color-radical);
  //--color-text-highlight-kanji-background: var(--color-kanji);
  //--color-text-highlight-vocabulary-background: var(--color-vocabulary);
  //--color-text-highlight-meaning-background: #555;
  //--color-text-highlight-reading-background: #555;
  //--color-text-highlight-radical-gradient: var(--color-radical-gradient);
  //--color-text-highlight-kanji-gradient: var(--color-kanji-gradient);
  //--color-text-highlight-vocabulary-gradient: var(--color-vocabulary-gradient);
  //--color-text-highlight-meaning-gradient: var(--color-burned-gradient);
  //--color-text-highlight-reading-gradient: var(--color-burned-gradient);
  //--color-nav-header-text: #999;
  //--color-nav-header-text-shadow: var(--text-shadow-light);
  //--color-nav-item-background: #E1E1E1;
  //--color-nav-item-text: #808080;
  //--color-nav-item-text-shadow: var(--text-shadow-light);
  //--color-nav-item-highlight-background: #555;
  //--color-nav-item-highlight-text: #FFF;
  //--color-nav-item-highlight-text-shadow: var(--text-shadow-dark);
  //--color-setting-divider: #DADADA;
  //--color-progress-chart-bar-background: #C8C8C8;
  //--color-progress-chart-bar: #474747;
  //--color-progress-chart-bar-gradient: linear-gradient(to bottom, #555, #333);
  //--color-progress-chart-label-text: #FFF;
  //--color-progress-chart-label-text-shadow: var(--text-shadow-dark);
  //--color-progress-chart-metric-text: #BBB;
  //--color-progress-chart-metric-count: #E1E1E1;
  //--color-progress-chart-metric-count-background: #999;
  //--color-progress-chart-metric-count-shadow: var(--text-shadow-dark);
  //--color-public-profile-avatar-border: #FFF;
  //--color-public-profile-info-background: #2C2C2C;
  //--color-public-profile-info-text: #FFFFFF66;
  //--color-public-profile-info-text-emphasis: #FFFFFF;
  //--color-dashboard-list-empty-icon: #555;
  //--color-new-user-modal-background: #068ED0;
  //--color-new-user-modal-text: #FFF;
  //--color-new-user-modal-text-shadow: var(--text-shadow-dark);
  //--color-community-banner-background: #F4F4F4;
  //--color-community-banner-border: #DDD;
  //--color-community-banner-text: #555;
  //--color-mnemonic-image-background: #FFF;
}
