// base/wkof.scss

@use "variables" as *;

// Settings dialog

#wkof_ds .wkof_settings_dialog {
  background: $surface-3;
  border: 1px solid color-mix(in srgb, #{$surface-3}, white 10%);
  border-top: none;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  box-shadow: 0 0 10px #{$surface-1};

  padding: 4px;

  // Heading

  .ui-dialog-titlebar {
    color: $text;
    text-shadow: none;
    background: $surface-2;
    border: none;
    border-bottom: 1px solid color-mix(in srgb, #{$surface-3}, white 10%);

    padding: 0.5em;
    margin: -4px -5px 0 -5px;

    border-radius: 0.5em 0.5em 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      padding: 0;
      width: auto;
      flex-grow: 1;
      margin: 0.2em 0 0 0.2em;
    }

    .ui-button {
      background: transparent;
      border: none;

      position: relative;
      margin: 0;

      // .ui-icon this is just filtrable, skip for now
    }
  }

  // Tabs

  .ui-tabs .ui-tabs-nav {
    border-bottom: 1px solid #{$surface-4};

    li.ui-tabs-active {
      background-color: $surface-3;
      border-color: $surface-4;

      a {
        color: $text;
        text-shadow: none;
      }
    }

    li.ui-state-default:not(.ui-tabs-active) {
      background-color: $surface-2;
      border-color: $surface-4;

      a {
        color: $text-grayed;
        text-shadow: none;
      }
    }
  }

  // Groups

  fieldset {
    border-color: $surface-4;

    legend,
    section {
      color: $text;
      text-shadow: none;
    }

    hr {
      border-color: $surface-4;
      border-bottom: none; // border-top is already set, this just doubled height
    }
  }

  // Labels

  .ui-widget-content {
    color: $text;
    text-shadow: none;
  }

  // Dialog opt

  select,
  input[type="text"],
  input[type="number"],
  input[type="password"] {
    border-color: color-mix(in srgb, #{$surface-4}, white 10%);
    background-color: $surface-4;
    color: $text;

    &.invalid {
      background-color: $incorrect;
      color: $text;
    }
  }

  button {
    background-color: $surface-4;
    border-color: color-mix(in srgb, #{$surface-4}, white 10%);
    color: $text;
    text-shadow: none;

    padding: 0.5em 1em;
    height: 2em;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      color: $surface-4;
      background-color: $surface-inv;
    }

    &:active {
      background-color: $text;
    }
  }

  .note.error {
    color: $incorrect;
  }

  // Button pane

  .ui-dialog-buttonpane {
    background-color: $surface-3;
    border-color: $surface-4;
  }

  // Checkboxes

  .setting[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;

    background: $surface-4;
    color: $text;
    border: 1px solid color-mix(in srgb, #{$surface-4}, white 10%);
    border-radius: 3px;

    cursor: pointer;

    &[disabled=""] {
      background-color: $surface-2;
      color: $text-grayed;
      border: 1px solid color-mix(in srgb, #{$surface-3}, white 10%);

      cursor: not-allowed;
    }

    &:checked::after {
      content: "✔";
      position: absolute;
      top: 8px;
      left: 4px;
      font-size: 24px;
    }
  }

  // Selection filters
  .filters .row {
    &.checked {
      background-color: $surface-2;
    }

    .enable input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;

      display: inline-block;
      position: relative;
      width: 22px;
      height: 22px;
      margin: 4px 4px 4px 0;

      background: $surface-4;
      color: $text;
      border: 1px solid color-mix(in srgb, #{$surface-4}, white 10%);
      border-radius: 3px;

      cursor: pointer;

      &[disabled=""] {
        background-color: $surface-2;
        color: $text-grayed;
        border: 1px solid color-mix(in srgb, #{$surface-3}, white 10%);

        cursor: not-allowed;
      }

      &:checked::after {
        content: "✔";
        position: absolute;
        top: 2px;
        left: 1px;
        font-size: 22px;
      }
    }
  }
}

// Progress dialog

#wkof_ds .wkof_progbar_dlg {
  background: $surface-3;
  border: 1px solid color-mix(in srgb, #{$surface-3}, white 10%);
  border-top: none;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  box-shadow: 0 0 10px #{$surface-1};

  padding: 4px;

  // Heading

  .ui-dialog-titlebar {
    color: $text;
    text-shadow: none;
    background: $surface-2;
    border: none;
    border-bottom: 1px solid color-mix(in srgb, #{$surface-3}, white 10%);

    padding: 0.5em;
    margin: -4px -5px 0 -5px;

    border-radius: 0.5em 0.5em 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      padding: 0;
      width: auto;
      flex-grow: 1;
      margin: 0.2em 0 0 0.2em;
    }

    .ui-button {
      background: transparent;
      border: none;

      position: relative;
      margin: 0;

      // .ui-icon this is just filtrable, skip for now
    }
  }

  .ui-widget-content {
    color: $text;
    text-shadow: none;
  }

  #wkof_progbar_dlg .wkof_progbar {
    border-color: $surface-4;
    .ui-progressbar-value {
      margin: 0;
      background-image: none;
      background: $progress;
      border-color: $progress;
    }
  }
}

// Review scripts menu

#scripts-menu.menu-type-quiz ul.dropdown-menu {
  background-color: $surface-3;
  border-color: $surface-4;

  li,
  li a {
    color: $text;
  }
}
