// base/wkof.scss

@use "variables" as *;

// Settings dialog

#wkofs_bkgd ~ .wkof_settings_dialog {
  background: $surface-3;
  border: 1px solid color-mix(in srgb, #{$surface-3}, white 10%);
  box-shadow: 0 -3px 25px #{$surface-1};

  padding: 0.5em 0.5em;

  // Heading

  .ui-dialog-titlebar {
    color: $text;
    text-shadow: none;
    background: $surface-2;
    border: none;
    border-bottom: 1px solid color-mix(in srgb, #{$surface-3}, white 10%);

    padding: 0.5em;
    margin: -0.5em calc(-0.5em - 1px) -0.5em calc(-0.5em - 1px);
    transform: translateY(-0.5em);

    border-radius: 0.5em 0.5em 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      padding: 0;
      width: auto;
      flex-grow: 1;
      margin: 0.2em 0 0 0.2em;
    }

    .ui-button {
      background: transparent;
      border: none;

      position: relative;
      margin: 0;

      // .ui-icon this is just filtrable, skip for now
    }
  }

  // Tabs

  .ui-tabs .ui-tabs-nav {
    border-bottom: 1px solid #{$surface-4};

    li.ui-tabs-active {
      background-color: $surface-3;
      border-color: $surface-4;

      a {
        color: $text;
        text-shadow: none;
      }
    }

    li.ui-state-default:not(.ui-tabs-active) {
      background-color: $surface-2;
      border-color: $surface-4;

      a {
        color: $text-grayed;
        text-shadow: none;
      }
    }
  }

  .ui-dialog-buttonpane {
    background-color: $surface-3;
  }
}
